@model DropIt.Models.LocalPasswordModel
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Quản lí Tài Khoản";
}

<div class="container" id="content">

<p class="message-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
