@{
    var Paging = new {
        TotalRecordCount = (decimal)(ViewBag.TotalRecordCount ?? 0),
        PageSize = (decimal)(ViewBag.PageSize ?? 10),
        StartIndex = (decimal)(ViewBag.StartIndex ?? 0),
        ExtraParameters = ViewBag.ExtraParameters ?? ""
    };

    var PageCount = Math.Ceiling(Paging.TotalRecordCount / Paging.PageSize);
    var CurrentPage = Math.Floor(Paging.StartIndex / Paging.PageSize);
    
   
}

<div class="pagination" data-currentpage="@CurrentPage">
    <ul>
        @for(int i=0;i<PageCount;i++){
            var url = "?PageSize="+ Paging.PageSize +"&StartIndex="+(i*Paging.PageSize)+Paging.ExtraParameters;
            if (i == CurrentPage)
            {
                <li class="active">
                    <a href="javascript:void">@(i+1)</a>
                </li>
            }else{
                <li>
                    <a href="@url">@(i+1)</a>
                </li>
            }
        }
    </ul>
</div>
