<footer>
            <!--Area: Footer-->
            <div id="footer" class="container">
                <hr>
                <div class="logo-footer">
                    <img src="/images/footerlogo.png">
                </div>
                <div>
                    <p>Copyright 2013. All right reserved</p>
                </div>
                <div class="navbar span7 pull-right">
                    <ul class="nav">
                        <li><a href="#">TRANG CHỦ</a></li>
                        <li>
                            <a href="#">SỰ KIỆN </a>
                        </li>
                        <li><a href="#">DÀNH CHO NGƯỜI MỚI</a></li>
                        <li><a href="#">VỀ CHÚNG TÔI</a></li>
                    </ul>
                </div>
            </div>
        </footer>