<div class="icon">
                <a href="@Url.Action("Index","Home",null,"http")"><img src="/images/icon.png"></a>
                </div>
                <p>Chúng tôi đã bán <span class="total-ticket">100+</span> vé cho <span class="total-event">99+</span> sự kiện! và nhiều hơn nữa</p>