<div class="icon">
                <a href="@Url.Action("Index","Home",null,"http")"><img src="/images/icon.png"></a>
                </div>
                <p>Chúng tôi đã bán <span>1,770</span> vé cho <span>607</span> sự kiện! và nhiều hơn nữa</p>