<li class="nav-header">Cá Nhân</li>
<li><a href="@Url.Action("Edit","User")">Thông tin tài khoản</a></li>
<li><a href="@Url.Action("HistoryBuy","Transaction")">Giao dịch đang thực hiên <span
class="badge badge-info count-transaction">Updating</span></a></li>
<li><a href="@Url.Action("HistoryBuy", "Transaction", new { status = 3 })">Lịch sử giao dịch</a></li>
<li class=""><a href="@Url.Action("Events","Follow",null,"http")"">Danh sách theo dõi</a></li>
