<li class="nav-header">Cá Nhân</li>
<li><a href="#">Thông tin tài khoản</a></li>
<li><a href="#">Giao dịch đang thực hiên <span
class="badge badge-info">4</span></a></li>
<li><a href="#">Lịch sử giao dịch</a></li>
<li class=""><a href="@Url.Action("FollowEvent","Event",null,"http")"">Danh sách theo dõi</a></li>
<li><a href="#">Quản lí rao mua</a></li>