@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="content">
    <br />
    <br />

    <div class="sorry-image">
        <img src="/Content/Images/SorryFace.png" />
    </div>
    <div style="padding:5%;"><center><h3>Xin lỗi, vé của bạn đã bị thay đổi thông tin. Xin hãy kiểm tra lại thông tin thay đổi, nếu thấy không phù hợp hãy liên hệ hotline của chúng tôi để lấy lại tiền!</h3></center></div>
    <center>    
            <a href="/Home/Index" class="btn btn-gen">Quay về trang chủ</a>
        </center>
    <br />
    <br />
</div>
