@model DropIt.Common.PDTHolder
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giao dịch thành công</h2>

<div>
    
</div>
<a href="/Home/Index">Quay về trang chủ tiếp tục</a>