@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <p></p>
</div>
<div class="center">
    <p>Xin lỗi, vé của bạn đã bị mua trước. Hãy liên hệ hotline của chúng tôi để lấy lại tiền!</p>
</div>
<a href="/Home/Index">Quay về trang chủ tiếp tục</a>