@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Bundles/jquery.validate")
<style>
    table th:nth-child(1) {
        width: 10%;
        min-width: 100px;
    }

    table th:nth-child(2) {
        width: auto;
    }

    table th:nth-child(3) {
        width: 130px;
    }

    table th:nth-child(4) {
        width: 80px;
    }

    table th:nth-child(5) {
        width: 80px;
    }

    table th:nth-child(6) {
        width: 130px;
    }

    table th:nth-child(7) {
        width: 200px;
    }

    .filter {
        font-size: 16px;
        font-family: sans-serif;
    }

        .filter label {
            /*display:inline;*/
        }
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="box filter">
            <div class="tab-header">
                Bộ lọc
            </div>
            <form class="fill-up">
                <div class="padded">
                    <div class="row-fluid">

                        <div class="span3">
                            <h4>Kích hoạt</h4>
                            <div id="activeFilter"></div>
                        </div>
                        <div class="span3">
                            <h4>Quyền đăng bán</h4>
                            <div id="sellableFilter"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="tab-header">
                Quản lý người dùng
            </div>
            <form class="fill-up">
                <div class="row-fluid">
                    <div class="padded">
                        <div class="span12">
                            <table class="table table-bordered box">
                                <thead>
                                    <tr>
                                        <th class="sortable" data-bind="click: function (data, event) { sort('UserName', data, event) }">Username</th>
                                        <th>Tên đầy đủ</th>
                                        <th>Địa chỉ</th>
                                        <th>Kích hoạt</th>
                                        <th>Được bán</th>
                                        <th class="sortable" data-bind="click: function (data, event) { sort('CreatedDate', data, event) }">Ngày tạo</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: data">
                                    <tr>
                                        <td data-bind="">
                                            <a href="" data-bind="
    text: UserName,
    attr: {
        href: Url({ Action: 'Edit', Data: { Id: UserId } })
    }
                    "></a>
                                        </td>
                                        <td data-bind="text: FullName"></td>
                                        <td>
                                            <span data-bind="
    text: Province.ProvinceName,
    attr: {
        title: Address
    }
    "
                                                data-toggle="tooltip"></span>
                                        </td>
                                        <td>
                                            <center>
                <div class="input">
                    <input type="checkbox" id="ch2" data-bind="checked: Active, attr: { id: 'Active_' + UserId }" class="normal-check">
                    <label data-bind="attr: { for: 'Active_' + UserId }"></label>
                  </div>
                </center>
                                        </td>
                                        <td>
                                            <center>
                <div class="input">
                    <input type="checkbox" id="ch2" data-bind="checked: Sellable, attr: { id: 'Sellable_' + UserId }" class="normal-check">
                    <label data-bind="attr: { for: 'Sellable_' + UserId }"></label>
                  </div>
                </center>
                                        </td>
                                        <td>
                                            <span data-bind="text:CreatedDate.toDateTimeString()"></span>
                                        </td>
                                        <td>
                                            <a href="javascript:;"
                                                class="button green"
                                                data-bind="">Duyệt
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination pull-right" data-bind="visible: pageCount() > 0">
                                <ul data-bind="foreach: new Array(pageCount())">
                                    <li data-bind="css: { active: $index() + 1 == $root.currentPage() }">
                                        <a href="javascript:;" data-bind="click: function (data, event) { $root.changePage($index(), data, event) }">
                                            <span data-bind="text: ($index() + 1)"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>




    var list = new DataList();
    list.url_getList = { Controller: "User", Action: "List" };
    list.dataClass = User;
    list.extraData = {
        isActive: -1,
        isSellable : -1
    }
    list.Delete = function (item) {
        $.fn.dialog2.helpers.confirm("Bạn có chắc là muốn xóa sự kiện \"" + item.EventName + "\" ?",
            {
                confirm: function () {
                    list.AjaxAction({
                        item: item,
                        urlData: { Action: "Approve", Data: { Id: item.EventId } },
                        callback: function (event) {
                            Notifications.push({
                                imagePath: Url(event.EventImage),
                                fillImage: true,
                                text: "Sự kiện \"#{EventName}\" đã được xóa !".eval(event),
                                autoDismiss: 5
                            })
                        }
                    })
                }
            }
        )
    }

    list.getList(function () {
        ko.applyBindings(list);
    });

    var ActiveFilterRadioGroup = new OptionRadioGroup([
        { value: "all", text: "Tất cả", "default": true },
        { value: true, text: "Được kích hoạt" },
        { value: false, text: "Không kích hoạt" }
    ])

    ActiveFilterRadioGroup.change = function (value) {
        list.extraData.isActive = value == true ? 1 : value == false ? 0 : -1;
        list.getList();
    }

    ActiveFilterRadioGroup.bind("#activeFilter");

    var SellableFilterRadioGroup = new OptionRadioGroup([
        { value: "all", text: "Tất cả", "default": true },
        { value: true, text: "Được bán" },
        { value: false, text: "Không được bán" }
    ])

    SellableFilterRadioGroup.change = function (value) {
        list.extraData.isSellable = value == true ? 1 : value == false ? 0 : -1;
        list.getList();
    }

    SellableFilterRadioGroup.bind("#sellableFilter");

</script>
