@font-face {
  font-family: Oswald;
  src: url('Fonts/VNF-Oswald Regular.ttf') format('truetype');
}
@font-face {
  font-family: "UVNBenXuan";
  src: url('Fonts/UVNBenXuan_R.TTF') format('truetype');
}
@font-face {
  font-family: "Architecture";
  src: url('Fonts/architep.ttf') format('truetype');
}
body {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
h3,
h2 {
  text-align: center;
  position: relative;
  font-weight: lighter;
  font-family: Oswald;
  font-size: 35px;
}
.info-page h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}
.btn {
  font-family: "UVNBaiSau";
  font-size: 15px;
}
.nav-tabs > li > a {
  font-family: UVNBaiSau;
}
