body {
  font-family: "Segoe UI";
}
#page {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.header .logo-area {
  text-align: center;
}
.header .logo-area h1 {
  line-height: 90px;
}
#content {
  margin-left: 10px;
}
table.event-detail .header {
  font-weight: bold;
  font-size: larger;
}
table.event-detail td.action .btn {
  width: 60px;
  display: block;
  margin-bottom: 5px;
}
td.action .btn {
    width: 60px;
    display: block;
    margin-bottom: 5px;
}

ul.bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

#buyticket {
    border: 1px solid #eee;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}
#buyticket a {
    margin: 10px 10px 10px 30px;
}

#ticket-detail th {
    border-top: 1px solid #eee;
}
#ticket-detail td {
    border-bottom: 1px solid #eee
}
.time {
    width: 150px;
}

#advanced-search {
    border: 1px solid #eee;
    margin-left: 10px;
}
#advanced-search form {
    margin: 20px 15px 10px 15px;
}

#a-z {
    border: 1px solid #eee;
}
#a-z ul{
    list-style: none;
}
#a-z li{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #000;
}

#event-list {
    margin-left: 10px;
}
#event-list ul {
    list-style: none;
}
#event-list a {
    padding-left: 5px;
}
#new-event a {
    color: #faa732;
    text-decoration: none;
    padding-left: 10px;
}
#new-event a:hover {
    color: #faa732;
    text-decoration: underline;
}