<div class="top-nav">
  <div class="container-fluid">
    <div class="row-fluid search-button-bar-container">
      <div class="span12">
        <ul class="breadcrumb">
            @using (Html.BeginForm("LogOff", "Account", new{ area="" }, FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()
            <li class=""><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-signout" style="color:white"></i> Đăng xuất</a></li>
            }
          
        </ul>
        @*<a class="search-button-trigger" href="#"><i class="icon-search"></i></a>*@
      </div>
    </div>

    <div class="row-fluid search-bar-nav">
      <div class="span12">
        <form>
          <input type="text" class="search" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>
</div>
