@{
    ViewBag.Title = "Home Page";
}
<div id="role-tab" class="container">
    <div class="user-tab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Bán Vé</a>
            </li>
            <li class="">
                <a href="#">Mua Vé</a>
            </li>
        </ul>
    </div>
</div>


<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                <div>
                    <ul id="left-nav" class="nav nav-list">
                        <li class="nav-header">Cá Nhân</li>
                        <li><a href="#">Thông tin tài khoản</a></li>
                        <li><a href="#">Giao dịch đang thực hiên <span
                            class="badge badge-info">4</span></a></li>
                        <li><a href="#">Lịch sử giao dịch</a></li>
                        <li class=""><a href="#">Danh sách theo dõi</a></li>
                        <li><a href="#">Quản lí rao mua</a></li>
                        <li class="nav-header">Mua Vé</li>
                        <li><a href="#">Đăng rao mua</a></li>
                        <li class=""><a href="#">Ca nhạc</a></li>
                        <li class=""><a href="">TV Show</a></li>
                        <li><a href="#">Thể thao</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span9">
            <div id="main-nav" class="navbar span9">
                <ul class="nav">
                    <li class="active"><a href="">Top 10 Events</a></li>
                    <li><a href="">Recent Events</a></li>
                    <li><a href="">Sports & Music</a></li>
                </ul>
            </div>
            <div id="ticket-show" class="span9">
                <a href="">
                    <div class="item span3">
                        <img src="images/event.png" alt="image">
                        <div class="item-event-date">
                            <div class="item-date">17</div>
                            <div class="item-time">
                                <div class="item-month">09</div>
                                <div class="item-year">2013</div>
                            </div>
                        </div>
                        <div class="detail">
                            <h5>Âm nhạc và những người bạn - Live Show 2013</h5>

                            <p>Số vé đã bán: 666</p>

                            <p>Số vé còn lại: 33</p>

                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="item span3">
                        <img src="images/event.png" alt="image">
                        <div class="item-event-date">
                            <div class="item-date">17</div>
                            <div class="item-time">
                                <div class="item-month">09</div>
                                <div class="item-year">2013</div>
                            </div>
                        </div>
                        <div class="detail">
                            <h5>Âm nhạc và những người bạn - Live Show 2013</h5>

                            <p>Số vé đã bán: 666</p>

                            <p>Số vé còn lại: 33</p>

                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="item span3">
                        <img src="images/event.png" alt="image">
                        <div class="item-event-date">
                            <div class="item-date">17</div>
                            <div class="item-time">
                                <div class="item-month">09</div>
                                <div class="item-year">2013</div>
                            </div>
                        </div>
                        <div class="detail">
                            <h5>Âm nhạc và những người bạn - Live Show 2013</h5>

                            <p>Số vé đã bán: 666</p>

                            <p>Số vé còn lại: 33</p>

                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="item span3">
                        <img src="images/event.png" alt="image">
                        <div class="item-event-date">
                            <div class="item-date">17</div>
                            <div class="item-time">
                                <div class="item-month">09</div>
                                <div class="item-year">2013</div>
                            </div>
                        </div>
                        <div class="detail">
                            <h5>Âm nhạc và những người bạn - Live Show 2013</h5>

                            <p>Số vé đã bán: 666</p>

                            <p>Số vé còn lại: 33</p>

                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="item span3">
                        <img src="images/event.png" alt="image">
                        <div class="item-event-date">
                            <div class="item-date">17</div>
                            <div class="item-time">
                                <div class="item-month">09</div>
                                <div class="item-year">2013</div>
                            </div>
                        </div>
                        <div class="detail">
                            <h5>Âm nhạc và những người bạn - Live Show 2013</h5>

                            <p>Số vé đã bán: 666</p>

                            <p>Số vé còn lại: 33</p>

                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="item span3">
                        <img src="images/event.png" alt="image">
                        <div class="item-event-date">
                            <div class="item-date">17</div>
                            <div class="item-time">
                                <div class="item-month">09</div>
                                <div class="item-year">2013</div>
                            </div>
                        </div>
                        <div class="detail">
                            <h5>Âm nhạc và những người bạn - Live Show 2013</h5>

                            <p>Số vé đã bán: 666</p>

                            <p>Số vé còn lại: 33</p>

                        </div>
                    </div>
                </a>


            </div>

        </div>
    </div>
</div>

