@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<div class="row">
    <h2 class="span12">Về chúng tôi</h2>
    <div class="span1"></div>
    <div class="span10">
        <h3>Drop It Capstone Project</h3>
        <br /><strong>Member:</strong>
        <br />Lê Khôi Phong
        <br />Đào Như Tùng
        <br />Công Minh Hiếu
        <br />Nguyễn Thanh Tùng
        <br />Đặng Quốc Duy
        <br /><strong>Supervisor</strong>

        <br />Lâm Hữu Khánh Phương

    </div>
</div>