@{
    ViewBag.Title = "GuideForNew";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
<div class="row">
    <h2 class="span12">Chính sách bảo mật</h2>
    <div class="span1"></div>
    <div class="span10">
        DropIt cam kết sẽ bảo mật những thông tin cá nhân của bạn.
        <div class=""><h4>Thu thập thông tin cá nhân</h4></div>
        Để truy cập và sử dụng tiện ích tại website DropIt, bạn có thể sẽ được yêu cầu cung cấp thông tin cá nhân (Email, Họ tên, Điện thoại liên lạc…).
        Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. DropIt không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo. 
        <br />Ngoài ra, để thực hiện chính sách chăm sóc khách hàng tốt hơn, chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm,
        bao gồm số trang bạn xem, số links (liên kết) bạn click và những thông tin khác liên quan đến DropIt.
        Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào DropIt, bao gồm:
        địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.
        
        <div class=""><h4>Sử dụng thông tin cá nhân</h4></div>
        DropIt thu thập và sử dụng thông tin cá nhân bạn với mục đích nhằm mang lại cho bạn những tiện ích và dịch vụ chăm sóc tốt hơn
        cũng như bảo đảm việc giao dịch, thực hiện tại DropIt được hoàn hảo.
        
        <div class=""><h4>Chia sẻ thông tin cá nhân</h4></div>
        DropIt cam kết không cung cấp thông tin cá nhân, riêng tư của bạn dưới bất cứ hình thức nào cho bên thứ 3 khi chưa được phép.
        <br />Thông tin có thể được cung cấp trong các trường hợp đặc biệt và cần thiết sau:
        <br />(a) khi có yêu cầu của các cơ quan pháp luật;
        <br />(b) bảo vệ quyền lợi chính đáng của bạn và DropIt trước pháp luật;
        <br />(c) tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên DropIt khác.

        <div class=""><h4>Truy xuất thông tin cá nhân</h4></div>
        Bạn có thể chỉnh sửa, cập nhật và thay đổi thông tin cá nhân của bạn trong mọi thời điểm.

        <div class=""><h4>Bảo mật thông tin cá nhân</h4></div>
        DropIt cam kết bảo mật thông tin cá nhân của bạn bằng mọi cách tốt nhất.
        Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau nhằm bảo vệ thông tin cá nhân không bị truy lục,
         sử dụng hoặc tiết lộ ngoài ý muốn.

        <br />DropIt khuyến cáo bạn nên bảo mật các thông tin liên quan đến mật khẩu và không nên chia sẻ với bất kỳ người nào khác.
         Nếu sử dụng máy tính chung nhiều người, bạn nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở. 

        <div class=""><h4>Thay đổi về chính sách</h4></div>
        Nội dung của “Chính sách bảo mật” này có thể thay đổi để phù hợp với các nhu cầu của DropIt cũng như nhu cầu và sự phản hồi từ khách hàng nếu có.

        <div class=""><h4>Thông tin liên hệ</h4></div>

        Chúng tôi luôn hoan nghênh các ý kiến đóng góp,
         liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này.
         Nếu bạn có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ Email: info@drop-it.info
    </div>
</div>
