@{
    ViewBag.Title = "GuideForNew";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
<div class="row">
    <h2 class="span12">Hướng dẫn cho người mới</h2>
    <div class="span1"></div>
    <div class="span10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a auctor sapien, at malesuada quam. Nam sapien magna, pulvinar non turpis vel, iaculis euismod eros. Nullam varius dolor sit amet condimentum cursus. Sed at enim ante. Aliquam vulputate sit amet arcu quis tempus. Curabitur justo dolor, vestibulum at arcu quis, vulputate congue nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean nec arcu odio. Etiam venenatis nulla sit amet magna tempus, a interdum erat suscipit. Proin in urna vestibulum, sagittis urna sit amet, pulvinar nibh. Nullam turpis orci, ullamcorper nec justo vel, varius lobortis risus.
        <br />
Ut nec vestibulum est, sed elementum velit. Vestibulum fringilla nec nibh sit amet luctus. In hac habitasse platea dictumst. Sed blandit nulla sed sodales faucibus. Phasellus pretium luctus libero nec blandit. Etiam sagittis rhoncus ornare. Morbi suscipit tincidunt placerat. Duis vitae fringilla nisi. Proin quam dolor, malesuada vitae congue ac, placerat nec felis. Pellentesque non erat fermentum, porta urna eget, vestibulum orci. Proin egestas enim aliquam, placerat nisl non, tincidunt ante. Phasellus malesuada mauris eget quam ornare, id ultricies augue elementum. Sed facilisis odio ut erat vestibulum, eget eleifend neque ullamcorper. Duis eget convallis dolor. Quisque posuere lacus enim, gravida pellentesque neque aliquam id. Morbi ut diam ac purus malesuada adipiscing at quis magna.
        <br />
Nunc lacinia rhoncus erat, vitae venenatis justo porta id. Nam id est diam. Maecenas dictum nulla tortor, ac egestas nulla dapibus vitae. Vivamus ultricies lectus vel urna porttitor, nec adipiscing sem pharetra. Sed fringilla augue vitae ipsum blandit placerat. Fusce vitae facilisis turpis. Etiam ac orci at lacus sagittis pulvinar at nec leo. Curabitur sagittis, mauris a bibendum ornare, neque nunc euismod nulla, eget viverra dolor ligula et massa. Proin vitae arcu eget magna rutrum egestas. Sed luctus pellentesque orci nec tincidunt. Nullam sagittis, eros dapibus ornare interdum, lectus diam egestas justo, eget semper nisi ante ut purus. Vestibulum placerat, tortor in vulputate porta, odio arcu sodales ipsum, eget tempor urna turpis sit amet nulla. Nam aliquam mauris lacinia, vulputate odio eu, aliquam orci. Fusce consequat nulla id risus lobortis, vitae pulvinar lectus ullamcorper.
    </div>
</div>
