@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutAdmin.cshtml";
    BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/Admin/Venue/Index").Include(
        "~/Scripts/Admin/ViewModels/AdminEvent.js",
        "~/Scripts/Admin/Venue/Index.js"));
}
@section Scripts{
    @*@Scripts.Render("~/Scripts/Admin/Venue/Index")*@;
}
<div class="table-wrapper venues-table section">
    <div class="row-fluid head">
        <div class="span12">
            <h4>Venues</h4>
        </div>
    </div>
    <div class="row-fluid filter-block">
        <div class="pull-right">
            <div class="ui-select">
                <select>
                    <option>Filter events</option>
                    <option>abc</option>
                    <option>xyz</option>
                </select>
            </div>
            <input type="text" class="search">
            <a class="btn-flat success new-event" href="Create">+ Add Venue</a>
        </div>
    </div>
    <div id="pad-wrapper">
        <div class="row-fluid">
            <div id="VenueTable" style="width: 580px; margin: auto;"></div>
        </div>
    </div>
    <!-- end events table -->
</div>
<script>
    $(document).ready(function () {

        //Prepare jtable plugin
        $('#VenueTable').jtable({
            title: 'Danh sách địa điểm',
            paging: true,
            pageSize: 3,
            sorting: true,
            selecting: true,
            multiselect: true,
            selectingCheckboxes:true,
            actions: {
                listAction:     Url({ Action: "List"    }),
                deleteAction:   Url({ Action: "Delete"  }),
                updateAction:   Url({ Action: "Update"  }),
                createAction:   Url({ Action: "Create"  })
            },
            fields: {
                VenueId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                VenueName: {
                    title: 'Tên địa điểm',
                    width: '15%'
                },
                Address: {
                    title: 'Địa chỉ',
                    list: false,
                    type: "textarea"
                },
                ProvinceId: {
                    title: 'Tỉnh',
                    options: Url({Action:"GetProvinceOptions"})
                },
                Description: {
                    title: 'Chú thích',
                    list:false
                }/*,
                Events: {
                    title: "",
                    width: "3%",
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (venueData) {
                        var $img = $("<i class='icon-volumne-up' style='font-size:20px;text-align:center'></i>")

                        $img.click(function () {
                            $("#VenueTable").jtable("openChildTable",
                                $img.closet(), {
                                    title: "Sự kiện tại " + venueData.record.VenueName,
                                    actions: {
                                        listAction: Url({ Controller: "Province", Action: "List" }),
                                        deleteAction: Url({ Controller: "Province", Action: "Delete" }),
                                        updateAction: Url({ Controller: "Province", Action: "Update" }),
                                        createAction: Url({ Controller: "Province", Action: "Create" })
                                    },
                                    fields: {

                                    }
                                })
                        })

                        return $img;
                    }
                }*/
            }
        });

        
        $('#VenueTable').jtable('load');
    });
</script>