  <div id="main-nav" class="navbar span9">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Home", null, "http")">Top Các Sự Kiện</a></li>
                    <li><a href="#">Sự Kiện Mới</a></li>
                </ul>
            </div>