<div>
    <ul id="left-nav" class="nav nav-list" data-gen="category" data-gen-behavior="append">
        @Html.Partial("Partials/SideBar_User")
        <li class="nav-header">Bán Vé</li>
        <li><a href="@Url.Action("Create","Ticket")">Bán vé</a></li>
        <li><a href="@Url.Action("SellerIndex","Request")">Danh sách rao mua</a></li>
    </ul>
</div>