@using DropIt.DAL
@{
    UnitOfWork uow = new UnitOfWork();
    ViewBag.Categories = uow.CategoryRepository.GetAvailable().Where(c => c.Category2 == null).ToList();
}
@if(!User.Identity.IsAuthenticated){
    <div>
        <ul id="left-nav" class="nav nav-list">
            <li class="nav-header">Mua Vé</li>
            <li><a href="#">Đăng rao mua</a></li>
            @Html.Partial("Partials/Templates/SideBar_Category")
        </ul>
    </div>
}else{
    if(Session["Role"]!=null && Session["Role"].Equals("Sell")){
        @Html.Partial("Partials/SideBar_Sell")
    }else{
        @Html.Partial("Partials/SideBar_Buy")
    }
}