<div>
    <ul id="left-nav" class="nav nav-list">
        @Html.Partial("Partials/SideBar_User")
        <li class="nav-header">Bán Vé</li>
        <li><a href="@Url.Action("Create","Ticket")">Bán vé</a></li>
        <li><a href="@Url.Action("Index","TicketResponse")">Danh sách yêu cầu</a></li>
        @Html.Partial("SideBar_Category")
    </ul>
</div>